  .cursor-follower {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #000; /* Change color as needed */
    position: fixed;
    pointer-events: none;
    transition: transform 0.1s ease;
    z-index: 9999; /* Ensure it appears above other elements */
  }

        #content-select {
            margin-bottom: 10px;
        }
        #summary {
            margin-top: 20px;
        }

        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }

        .profile-info {
            margin-bottom: 10px;
        }

        .container {
            max-width: 600px;
            margin: auto;
        }
        .form-group {
            margin-bottom: 15px;
        }
        label {
            display: block;
            margin-bottom: 5px;
        }
        input[type="text"],
        textarea {
            width: 100%;
            padding: 8px;
            box-sizing: border-box;
        }
        button {
            padding: 10px 15px;
            background-color: #007BFF;
            color: #fff;
            border: none;
            cursor: pointer;
        }
        button:hover {
            background-color: #0056b3;
        }
        .output {
            margin-top: 20px;
            padding: 10px;
            background-color: #f8f9fa;
            border: 1px solid #ced4da;
        }

.clock {
    border: 2px solid blue;     
    position: absolute;
    font-size: 20px;
    color: #000000;
    pointer-events: none; /* Prevents clock from interfering with mouse events */
}

.imageOne {
    background-color: #000000;
    background-image: url('../images/black.png');
    color: #ff0000;
}

.imageTwo {
    background-color: #000000;
    background-image: url('../images/color.png');
    color: #00ff00;
}


